EX2/EX2/Material/Pregunta1-Parcial/TransitSoft/TransitSoftNegocio/Connected Services/ServiciosWS/ServicioInfraccion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.transitsoft.pucp.edu.pe/" targetNamespace="http://services.transitsoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="crearInfracciones" type="tns:crearInfracciones" />
  <xs:element name="crearInfraccionesResponse" type="tns:crearInfraccionesResponse" />
  <xs:element name="eliminarInfraccion" type="tns:eliminarInfraccion" />
  <xs:element name="eliminarInfraccionResponse" type="tns:eliminarInfraccionResponse" />
  <xs:element name="insertarInfraccion" type="tns:insertarInfraccion" />
  <xs:element name="insertarInfraccionResponse" type="tns:insertarInfraccionResponse" />
  <xs:element name="listarTodasInfracciones" type="tns:listarTodasInfracciones" />
  <xs:element name="listarTodasInfraccionesResponse" type="tns:listarTodasInfraccionesResponse" />
  <xs:element name="modificarInfraccion" type="tns:modificarInfraccion" />
  <xs:element name="modificarInfraccionResponse" type="tns:modificarInfraccionResponse" />
  <xs:element name="obtenerInfraccionPorId" type="tns:obtenerInfraccionPorId" />
  <xs:element name="obtenerInfraccionPorIdResponse" type="tns:obtenerInfraccionPorIdResponse" />
  <xs:complexType name="crearInfracciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="capturasConExceso" type="tns:captura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="captura">
    <xs:sequence>
      <xs:element minOccurs="0" name="camara" type="tns:camara" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoCaptura" />
      <xs:element minOccurs="0" name="fechaCaptura" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="vehiculo" type="tns:vehiculo" />
      <xs:element name="velocidad" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="camara">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoSerie" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="latitud" type="xs:long" />
      <xs:element name="longitud" type="xs:long" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiculo">
    <xs:sequence>
      <xs:element name="anho" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="propietario" type="tns:propietario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propietario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearInfraccionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:infraccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="infraccion">
    <xs:sequence>
      <xs:element name="anhoVehiculo" type="xs:int" />
      <xs:element minOccurs="0" name="apellidosPropietario" type="xs:string" />
      <xs:element minOccurs="0" name="codigoSerieCamara" type="xs:string" />
      <xs:element minOccurs="0" name="direccionPropietario" type="xs:string" />
      <xs:element minOccurs="0" name="dniPropietario" type="xs:string" />
      <xs:element name="exceso" type="xs:double" />
      <xs:element minOccurs="0" name="fechaCaptura" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idCamara" type="xs:int" />
      <xs:element name="idInfraccion" type="xs:int" />
      <xs:element name="latitud" type="xs:long" />
      <xs:element name="limite" type="xs:double" />
      <xs:element name="longitud" type="xs:long" />
      <xs:element minOccurs="0" name="marcaVehiculo" type="xs:string" />
      <xs:element minOccurs="0" name="modeloCamara" type="xs:string" />
      <xs:element minOccurs="0" name="modeloVehiculo" type="xs:string" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="nombresPropietario" type="xs:string" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element name="velocidad" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInfraccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="infraccion" type="tns:infraccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInfraccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInfraccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="infraccion" type="tns:infraccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInfraccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasInfracciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasInfraccionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:infraccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerInfraccionPorId">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerInfraccionPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:infraccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInfraccion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInfraccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoCaptura">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REGISTRADO" />
      <xs:enumeration value="PROCESADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>