EX2/EX2/Material/Pregunta1-Parcial/TransitSoft/TransitSoftNegocio/Connected Services/ServiciosWS/ServicioPropietario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.transitsoft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioPropietario" targetNamespace="http://services.transitsoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/TransitSoftWA/ServicioPropietario?xsd=1" namespace="http://services.transitsoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerPropietarioPorId">
    <part name="parameters" element="tns:obtenerPropietarioPorId" />
  </message>
  <message name="obtenerPropietarioPorIdResponse">
    <part name="parameters" element="tns:obtenerPropietarioPorIdResponse" />
  </message>
  <message name="listarTodosPropietarios">
    <part name="parameters" element="tns:listarTodosPropietarios" />
  </message>
  <message name="listarTodosPropietariosResponse">
    <part name="parameters" element="tns:listarTodosPropietariosResponse" />
  </message>
  <message name="eliminarPropietario">
    <part name="parameters" element="tns:eliminarPropietario" />
  </message>
  <message name="eliminarPropietarioResponse">
    <part name="parameters" element="tns:eliminarPropietarioResponse" />
  </message>
  <message name="modificarPropietario">
    <part name="parameters" element="tns:modificarPropietario" />
  </message>
  <message name="modificarPropietarioResponse">
    <part name="parameters" element="tns:modificarPropietarioResponse" />
  </message>
  <message name="insertarPropietario">
    <part name="parameters" element="tns:insertarPropietario" />
  </message>
  <message name="insertarPropietarioResponse">
    <part name="parameters" element="tns:insertarPropietarioResponse" />
  </message>
  <portType name="ServicioPropietario">
    <operation name="obtenerPropietarioPorId">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioPropietario/obtenerPropietarioPorIdRequest" message="tns:obtenerPropietarioPorId" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioPropietario/obtenerPropietarioPorIdResponse" message="tns:obtenerPropietarioPorIdResponse" />
    </operation>
    <operation name="listarTodosPropietarios">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioPropietario/listarTodosPropietariosRequest" message="tns:listarTodosPropietarios" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioPropietario/listarTodosPropietariosResponse" message="tns:listarTodosPropietariosResponse" />
    </operation>
    <operation name="eliminarPropietario">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioPropietario/eliminarPropietarioRequest" message="tns:eliminarPropietario" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioPropietario/eliminarPropietarioResponse" message="tns:eliminarPropietarioResponse" />
    </operation>
    <operation name="modificarPropietario">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioPropietario/modificarPropietarioRequest" message="tns:modificarPropietario" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioPropietario/modificarPropietarioResponse" message="tns:modificarPropietarioResponse" />
    </operation>
    <operation name="insertarPropietario">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioPropietario/insertarPropietarioRequest" message="tns:insertarPropietario" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioPropietario/insertarPropietarioResponse" message="tns:insertarPropietarioResponse" />
    </operation>
  </portType>
  <binding name="ServicioPropietarioPortBinding" type="tns:ServicioPropietario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPropietarioPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPropietarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPropietario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPropietario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPropietario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioPropietario">
    <port name="ServicioPropietarioPort" binding="tns:ServicioPropietarioPortBinding">
      <soap:address location="http://localhost:8080/TransitSoftWA/ServicioPropietario" />
    </port>
  </service>
</definitions>