EX2/EX2/Material/Pregunta1-Parcial/TransitSoft/TransitSoftNegocio/Connected Services/ServiciosWS/ServicioCaptura.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.transitsoft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioCaptura" targetNamespace="http://services.transitsoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/TransitSoftWA/ServicioCaptura?xsd=1" namespace="http://services.transitsoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarCaptura">
    <part name="parameters" element="tns:actualizarCaptura" />
  </message>
  <message name="actualizarCapturaResponse">
    <part name="parameters" element="tns:actualizarCapturaResponse" />
  </message>
  <message name="insertarCaptura">
    <part name="parameters" element="tns:insertarCaptura" />
  </message>
  <message name="insertarCapturaResponse">
    <part name="parameters" element="tns:insertarCapturaResponse" />
  </message>
  <message name="eliminarCaptura">
    <part name="parameters" element="tns:eliminarCaptura" />
  </message>
  <message name="eliminarCapturaResponse">
    <part name="parameters" element="tns:eliminarCapturaResponse" />
  </message>
  <message name="modificarCaptura">
    <part name="parameters" element="tns:modificarCaptura" />
  </message>
  <message name="modificarCapturaResponse">
    <part name="parameters" element="tns:modificarCapturaResponse" />
  </message>
  <message name="obtenerCapturaPorId">
    <part name="parameters" element="tns:obtenerCapturaPorId" />
  </message>
  <message name="obtenerCapturaPorIdResponse">
    <part name="parameters" element="tns:obtenerCapturaPorIdResponse" />
  </message>
  <message name="listarTodasCapturas">
    <part name="parameters" element="tns:listarTodasCapturas" />
  </message>
  <message name="listarTodasCapturasResponse">
    <part name="parameters" element="tns:listarTodasCapturasResponse" />
  </message>
  <message name="obtenerCapturasConExcesoDeVelocidad">
    <part name="parameters" element="tns:obtenerCapturasConExcesoDeVelocidad" />
  </message>
  <message name="obtenerCapturasConExcesoDeVelocidadResponse">
    <part name="parameters" element="tns:obtenerCapturasConExcesoDeVelocidadResponse" />
  </message>
  <portType name="ServicioCaptura">
    <operation name="actualizarCaptura">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/actualizarCapturaRequest" message="tns:actualizarCaptura" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/actualizarCapturaResponse" message="tns:actualizarCapturaResponse" />
    </operation>
    <operation name="insertarCaptura">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/insertarCapturaRequest" message="tns:insertarCaptura" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/insertarCapturaResponse" message="tns:insertarCapturaResponse" />
    </operation>
    <operation name="eliminarCaptura">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/eliminarCapturaRequest" message="tns:eliminarCaptura" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/eliminarCapturaResponse" message="tns:eliminarCapturaResponse" />
    </operation>
    <operation name="modificarCaptura">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/modificarCapturaRequest" message="tns:modificarCaptura" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/modificarCapturaResponse" message="tns:modificarCapturaResponse" />
    </operation>
    <operation name="obtenerCapturaPorId">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/obtenerCapturaPorIdRequest" message="tns:obtenerCapturaPorId" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/obtenerCapturaPorIdResponse" message="tns:obtenerCapturaPorIdResponse" />
    </operation>
    <operation name="listarTodasCapturas">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/listarTodasCapturasRequest" message="tns:listarTodasCapturas" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/listarTodasCapturasResponse" message="tns:listarTodasCapturasResponse" />
    </operation>
    <operation name="obtenerCapturasConExcesoDeVelocidad">
      <input wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/obtenerCapturasConExcesoDeVelocidadRequest" message="tns:obtenerCapturasConExcesoDeVelocidad" />
      <output wsam:Action="http://services.transitsoft.pucp.edu.pe/ServicioCaptura/obtenerCapturasConExcesoDeVelocidadResponse" message="tns:obtenerCapturasConExcesoDeVelocidadResponse" />
    </operation>
  </portType>
  <binding name="ServicioCapturaPortBinding" type="tns:ServicioCaptura">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarCaptura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCaptura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCaptura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCaptura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCapturaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasCapturas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCapturasConExcesoDeVelocidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioCaptura">
    <port name="ServicioCapturaPort" binding="tns:ServicioCapturaPortBinding">
      <soap:address location="http://localhost:8080/TransitSoftWA/ServicioCaptura" />
    </port>
  </service>
</definitions>